    * {
        margin: 0px;
        padding: 0px;
        font-family: 'source sans pro';
    }
    
    .css-1ayj23f {
        border: none !important;
        background-color: transparent !important;
        box-shadow: none !important;
    }